@model IEnumerable<StateDataModel>
@{ Layout = "_Layout"; ViewBag.Title = "Get Country data";}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
@if (Model != null) {
<div class="container">
    <h2>State Level data</h2>
<br />
    <table class="table">
        <thead>
            <tr class="info">
                <th>State</th>
                <th>Active</th>
                <th>Confirmed</th>
                <th>Recovered</th>
                <th>Deaths</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td class="warning">@item.State</td>
                <td class="active">@item.Active</td>
                <td class="warning">@item.Confirmed</td>
                <td class="success">@item.Recovered</td>
                <td class="danger">@item.Deaths</td>
            </tr>
            }

        </tbody>
    </table>
</div>
}
